name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Create .env file
        run: |
          echo "SUPABASE_URL=https://fjvtwvmcjucbxdxnhptv.supabase.co" > .env
          echo "SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZqdnR3dm1janVjYnhkeG5ocHR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwMDk5MTAsImV4cCI6MjA3OTU4NTkxMH0.Nn3UWtOmiOQsJbmYJB_D2kYAiynAJNYe4XQrpQsychg" >> .env

      - name: Build Web
        run: flutter build web --release --base-href "/nibras-app/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
